/* body */
body {
    font-family: "Poppins", sans-serif;
    color: #000000;
    background-color: #000000;
  }
  
  .layout_padding {
    padding: 90px 0;
  }
  
  .layout_padding2 {
    padding: 45px 0;
  }
  
  .layout_padding2-top {
    padding-top: 45px;
  }
  
  .layout_padding2-bottom {
    padding-bottom: 45px;
  }
  
  .layout_padding-top {
    padding-top: 90px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 90px;
  }
  /* Css header phần nội dung */
  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .heading_container h3 {
    font-weight: bold;
    position: relative;
    margin-bottom: 15px;
    padding-top: 30px;
  }
  
  .heading_container h3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    width: 1px;
    height: 65px;
    background-color: #4bc5b8;
    -webkit-transform: translateY(-50%) rotate(20deg);
            transform: translateY(-50%) rotate(20deg);
  }
  
  /*header section*/
  .bg-1{
    height: 20px;
  }
  .hero_area {
    height: 100vh;
    background-image: url(../images/b-1.jpg);
    background-size: cover;
  }
  
  .sub_page .hero_area {
    height: auto;
  }
  
  .sub_page .contact_section {
    margin: 75px 0;
  }
  
  .hero_area.sub_pages {
    height: auto;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
    background:rgb(209, 205, 205);
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  /* thanh menu */
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 45px 15px 15px;
    color: black;
    text-align: center;
    position: relative;
    text-transform: uppercase;
  }
  

  .custom_nav-container .form-inline {
    padding-top: 30px;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .user_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-y: 1px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  
  .navbar-brand h3 {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  
  .navbar-brand span {
    font-size: 16px;
    font-weight: bold;
    color: #133e3f;
    margin-top: -10px;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 42px;
  }
  
  /*slider_section*/
  .slider_section {
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000000;
  }
  
  .slider_section #carouselExampleIndicators {
    width: 100%;
  }
  
  .slider_section .detail-box {
    margin-bottom: 300px;
  }
  
  .slider_section .detail-box h1 {
    font-size: 4rem;
    font-weight: bold;
    padding: 15px;
    /* color: black; */

  }
  .slider_section .detail-box h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    /* color: black; */

  }
  
  .slider_section .detail-box a:hover {
    background-color: transparent;
    color: #133e3f;
  }
  
  .slider_section #carouselExampleIndicators {
    bottom: 0;
  }
  
  .slider_section #carouselExampleIndicators li {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 100%;
    opacity: 1;
  }
  
  .slider_section #carouselExampleIndicators li.active {
    border-color: #133e3f;
  }
  
  
  
   /* blog_section */
   .blog_section {
    position: relative;
    padding-top: 10px;
  }
  
  .blog_section .side_img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
  }
  
  .blog_section .side_img img {
    width: 100%;
  }
  
  .blog_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .blog_section .img_container .img-box {
    width: 80%;
  }
  
  .blog_section .img_container .img-box img {
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(128, 126, 126);
  }
  
  .blog_section .img_container .img-box.b2 {
    width: 40%;
    margin-top: -25%;
    margin-left: auto;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  }
  
  .blog_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #133e3f;
    border: 1px solid #133e3f;
    color: #ffffff;
    margin-top: 15px;
  }
  
  .blog_section .detail-box a:hover {
    background-color: transparent;
    color: #133e3f;
  }
  
  .course_section {
    position: relative;
  }  
   
  
  /* info_section */
  .info_section {
    background-color: #133e3f;
    color: #ffffff;
    margin-top: 20px;
  }
  
  .info_section h6 {
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .info_section .info_menu .navbar-nav .nav-item .nav-link {
    color: #ffffff;
  }
  
  .info_section .info_news .info_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .info_section .info_news .info_contact a {
    color: #ffffff;
    margin-bottom: 5px;
  }
  
  .info_section .info_news form {
    margin-top: 15px;
  }
  
  .info_section .info_news form input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 10px;
    background-color: #e0e0e0;
  }
  
  .info_section .info_news form input::-webkit-input-placeholder {
    color: #acaeae;
  }
  
  .info_section .info_news form input:-ms-input-placeholder {
    color: #acaeae;
  }
  
  .info_section .info_news form input::-ms-input-placeholder {
    color: #acaeae;
  }
  
  .info_section .info_news form input::placeholder {
    color: #acaeae;
  }
  
  .info_section .info_news form button {
    display: inline-block;
    padding: 7px 45px;
    background-color: #4bc5b8;
    border: 1px solid #4bc5b8;
    color: black;
    margin-top: 15px;
  }
  
  .info_section .info_news form button:hover {
    background-color: transparent;
    color: #4bc5b8;
  }