/* body */
body {
    font-family: "Poppins", sans-serif;
    color: #000000;
    background-color: rgb(253 243 243);
  }
  
  
  .layout_padding {
    padding: 90px 0;
  }
  
  .layout_padding2 {
    padding: 45px 0;
  }
  
  .layout_padding2-top {
    padding-top: 45px;
  }
  
  .layout_padding2-bottom {
    padding-bottom: 45px;
  }
  
  .layout_padding-top {
    padding-top: 90px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 90px;
  }
  /* Css header phần nội dung */
  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .heading_container h3 {
    font-weight: bold;
    position: relative;
    margin-bottom: 15px;
  }
  
  .heading_container h3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    width: 1px;
    height: 65px;
    background-color: #4bc5b8;
    -webkit-transform: translateY(-50%) rotate(20deg);
            transform: translateY(-50%) rotate(20deg);
  }
  /*header section*/
 
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
    background:rgb(209, 205, 205);
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  /* thanh menu */
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 45px 15px 15px;
    color: black;
    text-align: center;
    position: relative;
    text-transform: uppercase;
  }

  
  .custom_nav-container .form-inline {
    padding-top: 30px;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .user_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-y: 1px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  
  .navbar-brand h3 {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  
  .navbar-brand span {
    font-size: 16px;
    font-weight: bold;
    color: #133e3f;
    margin-top: -10px;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 42px;
  }
  
  /* thanh BCC specical_section */
  .special_section .special_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    background-color: #414747;
    padding: 25px;
    border-radius: 10px;
    margin-top: 15px;
  }
  .special_section .special_container h4{
    padding-top: 10px;
    font-size: 35px;
  }
  .special_section .special_container .box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
  }
  
  .special_section .special_container .box .img-box {
    width: 55px;
    margin-right: 10px;
  }
  
  .special_section .special_container .box .img-box img {
    max-width: 100%;
    padding-top: 10px;
  }
  
  .special_section .special_container .box .detail-box a {
    display: inline-block;
    color: #fdda6e;
    text-decoration: underline;
    margin-top: 10px;
  }
  
  .special_section .special_container .box.b2 {
    border-left: 1px solid #4e6e6f;
    border-right: 1px solid #4e6e6f;
  }


/* luyện thi */

.test_section .heading_container h3 {
  margin-bottom: 0px;
  font-size: 40px;
  
}

.test_section .heading_container h3::before {
  left: -2px;
}

.test_section p {
  color: black;
  padding-top: 10px;
}

.test_section .test_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #1a1818;
  margin: 15px 0;
  border-radius: 5px;
  background-color: #ffffff;
  padding-top: 15px;
}

.test_section .test_container .box > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.test_section .test_container .box .img-box img {
  width: 100%;
}

.test_section .test_container .box .detail-box {
  border-left: 1px solid #0f0f0f;
  border-right: 1px solid #111111;
  -webkit-box-flex: 1.4;
      -ms-flex: 1.4;
          flex: 1.4;
  padding: 10px 0;
}

.test_section .test_container .box .detail-box h4 {
  font-weight: bold;
}

.test_section .test_container .box .detail-box h6 {
  color: #050505;
}

.test_section .test_container .box .date-box h3 {
  color: #0b5356;
}

.test_section .test_container .box .date-box h3 span {
  font-size: 1.2em;
  font-weight: bold;
}

.test_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test_section .btn-box a {
  display: inline-block;
  padding: 8px 45px;
  background-color: #133e3f;
  border: 1px solid #133e3f;
  color: #ffffff;
  margin-top: 10px;
}

.test_section .btn-box a:hover {
  background-color: transparent;
  color: #133e3f;
}


  /* footer info_section */
  .info_section {
    background-color: #133e3f;
    color: #ffffff;
    margin-top: 20px;
  }
  
  .info_section h6 {
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .info_section .info_menu .navbar-nav .nav-item .nav-link {
    color: #ffffff;
  }
  
  .info_section .info_news .info_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .info_section .info_news .info_contact a {
    color: #ffffff;
    margin-bottom: 5px;
  }
  
  .info_section .info_news form {
    margin-top: 15px;
  }
  
  .info_section .info_news form input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 10px;
    background-color: #e0e0e0;
  }
  
  .info_section .info_news form input::-webkit-input-placeholder {
    color: #acaeae;
  }
  
  .info_section .info_news form input:-ms-input-placeholder {
    color: #acaeae;
  }
  
  .info_section .info_news form input::-ms-input-placeholder {
    color: #acaeae;
  }
  
  .info_section .info_news form input::placeholder {
    color: #acaeae;
  }
  
  .info_section .info_news form button {
    display: inline-block;
    padding: 7px 45px;
    background-color: #4bc5b8;
    border: 1px solid #4bc5b8;
    color: black;
    margin-top: 15px;
  }
  
  .info_section .info_news form button:hover {
    background-color: transparent;
    color: #4bc5b8;
  }
    